@model Equiposmd.Models.AsignarAreaEquipo
@{
    ViewData["Title"] = "Agregar Un Nuevo Equipo";
}
<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Equipo</title>
    <style>
        /* Estilos para el formulario */
        .container {
            margin-top: 15px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
        }

        .form-check-input {
            margin-right: 10px;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Asignar Area A un Equipo</h1>
        <form asp-action="AsignarAEquipo1" method="post">

            <div class="row">
                <div class="form-group col-md-4">
                    <label>ID del equipo</label>
                    <input asp-for="Id_Equipo" class="form-control">
                    <span asp-validation-for="Id_Equipo" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>Numero De Serial</label>
                    <input asp-for="Numero_serial" class="form-control">
                    <span asp-validation-for="Numero_serial" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Numero activo en el banco</label>
                    <input asp-for="Numero_activo_del_banco" class="form-control">
                    <span asp-validation-for="Numero_activo_del_banco" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Area Asignada</label>
                    <input asp-for="Area_Asignada" class="form-control">
                    <span asp-validation-for="Area_Asignada" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Tipo</label>
                    <input asp-for="Tipo" class="form-control">
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Marca</label>
                    <input asp-for="Marca" class="form-control">
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-secondary d-block mx-auto">Crear</button>
                </div>
            </div>
        </form>
        <a asp-controller="Home" asp-action="index" class="btn btn-link d-block text-center">Volver</a>
    </div>
</body>
</html>
