@model Equiposmd.Models.AsignarAreaEquipo
@{
    ViewData["Title"] = "Agregar Un Nuevo Equipo";
}
<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Equipo</title>
    <style>
        /* Estilos para el formulario */
        .container {
            margin-top: 15px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
        }

        .form-check-input {
            margin-right: 10px;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Asignar Area A un Equipo</h1>
        <form asp-action="AsignarAEquipo1" method="post">

            <div class="row">
                <div class="form-group col-md-8">
                    <h6>
                        ID del equipo
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="Id_Equipo" class="form-control" oninput="validarNumeroActivo(this)">
                    <span asp-validation-for="Id_Equipo" class="text-danger"></span>
                </div>

                <div class="row">

                <div class="form-group col-md-8">
                    <h6>
                        Area Asignada
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="Area_Asignada" class="form-control">
                    <span asp-validation-for="Area_Asignada" class="text-danger"></span>
                </div>
                </div>

                
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-secondary d-block mx-auto">Crear</button>
                </div>
            </div>
        </form>
        <a asp-controller="Home" asp-action="index" class="btn btn-link d-block text-center">Volver</a>
    </div>
</body>
</html>
@section Scripts {
    <script>
        function validarNumeroActivo(input) {
            // Eliminar cualquier caracter que no sea un número, la letra 'E', o el número '0'
            input.value = input.value.replace(/[^0-9Ee]|^0+/g, '');

            // Convertir la letra 'E' ingresada a mayúscula
            input.value = input.value.toUpperCase();
        }
    </script>
}