<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Equiposmd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Equiposmd.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Equiposmd</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"></a>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Registro y Gestión de Equipos                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:5018/EquipoGeneral/RegistroIndividual">Registro de equipos</a>
                                <a class="dropdown-item" href="http://localhost:5018/EquipoGeneral/RegistrarMarcas">Registrar Marcas</a>
                                <a class="dropdown-item" href="http://localhost:5018/HistorialEvento/ListaDeEvento">Historial y Eventos de Equipos</a>
                                <a class="dropdown-item" href="http://localhost:5018/EquipoGeneral/DetalleE">Lista De Equipos</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gestión de Áreas


                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:5018/AreaGeneral/AsignarAEquipo">Asignar Area A Equipo</a>
                                <a class="dropdown-item" href="http://localhost:5018/AreaGeneral/AEquiposDetalle">Modificación De Información Asignacion De Equipos</a>


                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Registro y Asignación de Empleados


                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:5018/EmpleadoGeneral/EquiposAsignados">Asignación de Equipos por Empleado</a>
                                <a class="dropdown-item" href="http://localhost:5018/EmpleadoGeneral/InformacionA">Informacion De Los Equipos Asignados</a>

                                
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Gestión de Solicitudes de Equipos


                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:5018/GestionGeneral1/ModeloEquipo">Registro de Compras</a>
                                <a class="dropdown-item" href="http://localhost:5018/GestionGeneral1/Historialdeequipo">Historial de Compras</a>
                                <a class="dropdown-item" href="http://localhost:5018/GestionGeneral/SolicitudEquipo"> Solicitud De Equipo</a>
                                <a class="dropdown-item" href="http://localhost:5018/GestionGeneral/ListaSolicitudes">Historial de Solicitud</a>  
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Consultas y Reportes


                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="">Generación de Reportes</a>
                                <a class="dropdown-item" href="http://localhost:5018/ConsultaGeneral/suvar203">Descartes De Equipos</a>

                            </div>         
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Equiposmd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
