@model Equiposmd.Models.RegistroIndividual
@{
    ViewData["Title"] = "Registrar Un Nuevo Equipo";
}
<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Equipo</title>
    <style>
        /* Estilos para el formulario */
        .container {
            margin-top: 15px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 10px; /* Nuevo estilo para el margen inferior */
        }

        .form-check-input {
            margin-right: 10px;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Registrar Un Nuevo Equipo</h1>
        <form asp-action="RegistroIndividual1" method="post">
            
            
            <div class="row">
                <div class="form-group col-md-4">
                    <h6>
                        ID del equipo
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="Id_Equipo" class="form-control" oninput="validarNumeroActivo(this)" placeholder="Ingrese el ID del equipo" required>
                    <span asp-validation-for="Id_Equipo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <h6>
                        Tipo
                        <small class="text-muted"></small>
                    </h6>
                    <select asp-for="Tipo" class="form-control" required>
                        <option value="" disabled selected>Seleccione el Tipo Del Equipo</option>
                        <option value="Monitor">Monitor</option>
                        <option value="Cpu">Cpu</option>
                        <option value="Mouse">Mouse</option>
                        <option value="Teclado">Teclado</option>
                        <option value="Laptop">Laptop</option>
                        <option value="Impresora">Impresora</option>
                        <option value="Tablet">Tablet</option>
                        <option value="Smartphone">Smartphone</option>
                        <option value="Altavoz">Altavoz</option>
                        <option value="Auriculares">Auriculares</option>
                        <option value="Cámara">Cámara</option>
                        <option value="Proyector">Proyector</option>
                        <option value="Router">Router</option>
                        <option value="Servidor">Servidor</option>
                        <option value="Escáner">Escáner</option>
                        <option value="Computadora de Escritorio">Computadora de Escritorio</option>
                        <option value="Disco Duro">Disco Duro</option>
                        <option value="Tarjeta de Video">Tarjeta de Video</option>
                        <option value="Memoria RAM">Memoria RAM</option>
                        <option value="Unidad de Estado Sólido (SSD)">Unidad de Estado Sólido (SSD)</option>
                        <option value="Ordenador Portátil">Ordenador Portátil</option>
                        <option value="Escáner de Documentos">Escáner de Documentos</option>
                        <option value="Impresora Multifunción">Impresora Multifunción</option>
                        <option value="Terminal Punto de Venta (TPV)">Terminal Punto de Venta (TPV)</option>
                        <option value="Cajero Automático">Cajero Automático</option>
                        <option value="Dispositivo de Seguridad Biométrica">Dispositivo de Seguridad Biométrica</option>
                        <option value="Terminal de Autoconsulta">Terminal de Autoconsulta</option>
                        <option value="Dispositivo de Firma Electrónica">Dispositivo de Firma Electrónica</option>
                        <option value="Contador de Billetes">Contador de Billetes</option>
                        <option value="Tarjeta de Identificación">Tarjeta de Identificación</option>
                        <option value="Dispositivo de Almacenamiento Seguro">Dispositivo de Almacenamiento Seguro</option>
                        <option value="Sistema de Videovigilancia">Sistema de Videovigilancia</option>
                        <option value="Cámara de Seguridad">Cámara de Seguridad</option>
                        <option value="Router de Seguridad">Router de Seguridad</option>
                    </select>
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>


                <div class="form-group col-md-4">
                    <h6>
                        Marca
                        <small class="text-muted"></small>
                    </h6>
                    <select asp-for="Marca" class="form-control" required>
                        <option value="" disabled selected>Seleccione la Marca Del Equipo</option>
                        <option value="Hp">Hp</option>
                        <option value="Dell">Dell</option>
                        <option value="Lenovo">Lenovo</option>
                        <option value="Acer">Acer</option>
                        <option value="Asus">Asus</option>
                        <option value="Apple">Apple</option>
                        <option value="Sony">Sony</option>
                        <option value="Samsung">Samsung</option>
                        <option value="Toshiba">Toshiba</option>
                        <option value="Microsoft">Microsoft</option>
                        <option value="Panasonic">Panasonic</option>
                        <option value="LG">LG</option>
                        <option value="IBM">IBM</option>
                        <option value="Gateway">Gateway</option>
                        <option value="Fujitsu">Fujitsu</option>
                        <option value="Compaq">Compaq</option>
                        <option value="MSI">MSI</option>
                        <option value="Alienware">Alienware</option>
                        <option value="Xiaomi">Xiaomi</option>
                        <option value="Huawei">Huawei</option>
                        <option value="Google">Google</option>
                        <option value="Razer">Razer</option>
                        <option value="Corsair">Corsair</option>
                        <option value="Philips">Philips</option>
                        <option value="Bosch">Bosch</option>
                        <option value="Dyson">Dyson</option>
                        <option value="D-Link">D-Link</option>
                        <option value="Linksys">Linksys</option>
                        <option value="Netgear">Netgear</option>
                        <option value="Canon">Canon</option>
                        <option value="Nikon">Nikon</option>
                        <option value="GoPro">GoPro</option>
                        <option value="DJI">DJI</option>
                        <option value="Garmin">Garmin</option>
                        <option value="Fitbit">Fitbit</option>
                        <option value="Xerox">Xerox</option>
                        <option value="Lexmark">Lexmark</option>
                        <option value="Bose">Bose</option>
                        <option value="JBL">JBL</option>
                        <option value="Sennheiser">Sennheiser</option>
                        <option value="Audio-Technica">Audio-Technica</option>
                        <option value="Western Digital">Western Digital</option>
                        <option value="Seagate">Seagate</option>
                        <option value="Sandisk">Sandisk</option>
                        <option value="Logitech">Logitech</option>
                        <option value="Intel">Intel</option>
                        <option value="AMD">AMD</option>
                        <option value="NVIDIA">NVIDIA</option>
                        <option value="Kingston">Kingston</option>
                        <option value="Crucial">Crucial</option>
                        <option value="Adata">Adata</option>
                        <option value="HyperX">HyperX</option>
                        <option value="SteelSeries">SteelSeries</option>
                        <option value="Roccat">Roccat</option>
                        <option value="Cooler Master">Cooler Master</option>
                        <option value="NZXT">NZXT</option>
                        <option value="Fractal Design">Fractal Design</option>
                        <option value="Thermaltake">Thermaltake</option>
                        <option value="EVGA">EVGA</option>
                        <option value="Gigabyte">Gigabyte</option>
                        <option value="ASRock">ASRock</option>
                        <option value="Biostar">Biostar</option>
                        <option value="Raspberry Pi">Raspberry Pi</option>
                        <option value="Arduino">Arduino</option>


                    </select>
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>



                <div class="form-group col-md-4">
                    <h6>
                        Modelo
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="Modelo" class="form-control" placeholder="Ingrese el Modelo" required />
                    <span asp-validation-for="Modelo" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                        <h6>
                            Número de activo del banco
                            <small class="text-muted"></small>
                        </h6>
                    <input asp-for="Número_de_activo_del_banco" class="form-control" oninput="validarNumeroActivo(this)" placeholder="Ingrese el Número de activo del banco" required>
                    <span asp-validation-for="Número_de_activo_del_banco" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                        <h6>
                            Número serial
                            <small class="text-muted"></small>
                        </h6>
                    <input asp-for="Número_serial_de_fábrica" class="form-control" placeholder="Ingrese el Número serial" required>
                    <span asp-validation-for="Número_serial_de_fábrica" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                        <h6>
                            Estado
                            <small class="text-muted"></small>
                        </h6>
                    <select asp-for="Estado" class="form-control" required>
                        <option value="" disabled selected>Seleccione el Estado Del Equipo</option>
                        <option value="Disponible">Disponible</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        Color
                        <small class="text-muted"></small>
                    </h6>
                    <select asp-for="Color" class="form-control" required>
                        <option value="" disabled selected>Seleccione el Color</option>
                        <option value="Rojo">Rojo</option>
                        <option value="Azul">Azul</option>
                        <option value="Verde">Verde</option>
                        <option value="Amarillo">Amarillo</option>
                        <option value="Naranja">Naranja</option>
                        <option value="Morado">Morado</option>
                        <option value="Rosa">Rosa</option>
                        <option value="Gris">Gris</option>
                        <option value="Negro">Negro</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Marron">Marron</option>
                        <option value="Celeste">Celeste</option>
                        <option value="Turquesa">Turquesa</option>
                        <option value="Oro">Oro</option>
                        <option value="Plata">Plata</option>
                        <option value="Violeta">Violeta</option>
                        <option value="Cian">Cian</option>
                        <option value="Lavanda">Lavanda</option>
                        <option value="Cafe">Cafe</option>
                        <option value="Esmeralda">Esmeralda</option>
                        <option value="Coral">Coral</option>
                        <option value="Granate">Granate</option>
                        <option value="Turmalina">Turmalina</option>
                        <option value="Zafiro">Zafiro</option>
                        <option value="Ambar">Ambar</option>
                        <option value="Indigo">Indigo</option>
                        <option value="Aguamarina">Aguamarina</option>
                        <option value="Carmesi">Carmesi</option>

                    </select>
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group mt-3">
                <button type="submit" class="btn btn-secondary d-block mx-auto">Crear</button>
            </div>

        </form>
        <a asp-controller="Home" asp-action="index" class="btn btn-link d-block text-center">Volver</a>
    </div>
</body>
</html>
@section Scripts {
    <script>
        function validarNumeroActivo(input) {
            // Eliminar cualquier caracter que no sea un número, la letra 'E', o el número '0'
            input.value = input.value.replace(/[^0-9Ee]|^0+/g, '');

            // Convertir la letra 'E' ingresada a mayúscula
            input.value = input.value.toUpperCase();
        }
    </script>
}


