@model Equiposmd.Models.HistorialEvento
@{
    ViewData["Title"] = "Agregar Un Nuevo Equipo";
}
<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Equipo</title>
    <style>
        /* Estilos para el formulario */
        .container {
            margin-top: 9px;
            padding: 9px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
        }

        .form-check-input {
            margin-right: 10px;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Registrar Un Nuevo Evento</h1>
        <form asp-action="ListaDeEvento" method="post">

            <div class="row">
                <div class="form-group col-md-4">
                    <h6>
                        ID del equipo
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="Id_Equipo" class="form-control" oninput="validarNumeroActivo(this)" placeholder="Ingrese el ID del equipo" required title="Complete este campo">
                    <span asp-validation-for="Id_Equipo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <h6>
                        Numero De Serial
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="Numero_serial" class="form-control" placeholder="Ingrese el Numero De Serial"required>
                    <span asp-validation-for="Numero_serial" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        Numero de activo
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="numero_de_activo" class="form-control" oninput="validarNumeroActivo(input)" placeholder="Ingrese el Numero de activo"required>
                    <span asp-validation-for="numero_de_activo" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        Fecha
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="Fecha" class="form-control" type="date" placeholder="Seleccione la Fecha"required>
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        TipoEvento
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="TipoEvento" class="form-control" placeholder="Ingrese el TipoEvento"required>
                    <span asp-validation-for="TipoEvento" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        Detalles
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="Detalles" class="form-control" placeholder="Ingrese los Detalles"required>
                    <span asp-validation-for="Detalles" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        EmpleadoAsignado
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="EmpleadoAsignado" class="form-control" placeholder="Ingrese el Empleado Asignado"required>
                    <span asp-validation-for="EmpleadoAsignado" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        AreaOrigen
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="AreaOrigen" class="form-control" placeholder="Ingrese el Area de Origen"required>
                    <span asp-validation-for="AreaOrigen" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        AreaDestino
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="AreaDestino" class="form-control" placeholder="Ingrese el Area de Destino"required>
                    <span asp-validation-for="AreaDestino" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        SoftwareInstalado
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="SoftwareInstalado" class="form-control" placeholder="Ingrese el Software Instalado"required>
                    <span asp-validation-for="SoftwareInstalado" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        DetallesMantenimiento
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="DetallesMantenimiento" class="form-control" placeholder="Ingrese los Detalles de Mantenimiento"required>
                    <span asp-validation-for="DetallesMantenimiento" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        DetallesReparacion
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="DetallesReparacion" class="form-control" placeholder="Ingrese los Detalles de Reparacion"required>
                    <span asp-validation-for="DetallesReparacion" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        DetallesModificacion
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="DetallesModificacion" class="form-control" placeholder="Ingrese los Detalles de Modificacion"required>
                    <span asp-validation-for="DetallesModificacion" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <h6>
                        CausaDaño
                        <small class="text-muted"></small>
                    </h6>
                    <input asp-for="CausaDaño" class="form-control" placeholder="Ingrese la Causa del Daño"required>
                    <span asp-validation-for="CausaDaño" class="text-danger"></span>
                </div>
            </div>





            <div class="form-group mt-3">
                <button type="submit" class="btn btn-secondary d-block mx-auto">Crear</button>
            </div>
        </form>
        <a asp-controller="Home" asp-action="index" class="btn btn-link d-block text-center">Volver</a>
    </div>
</body>
</html>
@section Scripts {
    <script>
        function validarNumeroActivo(input) {
            // Eliminar cualquier caracter que no sea un número, la letra 'E', o el número '0'
            input.value = input.value.replace(/[^0-9Ee]|^0+/g, '');

            // Convertir la letra 'E' ingresada a mayúscula
            input.value = input.value.toUpperCase();
        }
    </script>
}