@model Equiposmd.Models.HistorialEvento
@{
    ViewData["Title"] = "Agregar Un Nuevo Equipo";
}
<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Equipo</title>
    <style>
        /* Estilos para el formulario */
        .container {
            margin-top: 15px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
        }

        .form-check-input {
            margin-right: 10px;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Historial Del Equipo</h1>
        <form asp-action="Editar" method="post">



            <div class="row">
                <div class="form-group col-md-4">
                    <label>Numero serial</label>
                    <input asp-for="Numero_serial" class="form-control" oninput="validarNumeroActivo(input)"disabled>
                    <span asp-validation-for="Numero_serial" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Numero de activo</label>
                    <input asp-for="numero_de_activo" class="form-control" oninput="validarNumeroActivo(input)"disabled>
                    <span asp-validation-for="numero_de_activo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Fecha</label>
                    <input asp-for="Fecha" class="form-control"disabled>
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>TipoEvento</label>
                    <input asp-for="TipoEvento" class="form-control"disabled>
                    <span asp-validation-for="TipoEvento" class="text-danger"></span>
                </div>


                <div class="form-group col-md-4">
                    <label>Detalles</label>
                    <input asp-for="Detalles" class="form-control"disabled>
                    <span asp-validation-for="Detalles" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>EmpleadoAsignado</label>
                    <input asp-for="EmpleadoAsignado" class="form-control"disabled>
                    <span asp-validation-for="EmpleadoAsignado" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>AreaOrigen</label>
                    <input asp-for="AreaOrigen" class="form-control"disabled>
                    <span asp-validation-for="AreaOrigen" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>AreaDestino</label>
                    <input asp-for="AreaDestino" class="form-control"disabled>
                    <span asp-validation-for="AreaDestino" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>SoftwareInstalado</label>
                    <input asp-for="SoftwareInstalado" class="form-control"disabled>
                    <span asp-validation-for="SoftwareInstalado" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>DetallesMantenimiento</label>
                    <input asp-for="DetallesMantenimiento" class="form-control"disabled>
                    <span asp-validation-for="DetallesMantenimiento" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>DetallesReparacion</label>
                    <input asp-for="DetallesReparacion" class="form-control" disabled>
                    <span asp-validation-for="DetallesReparacion" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>DetallesModificacion</label>
                    <input asp-for="DetallesModificacion" class="form-control" disabled>
                    <span asp-validation-for="DetallesModificacion" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>CausaDaño</label>
                    <input asp-for="CausaDaño" class="form-control" disabled>
                    <span asp-validation-for="CausaDaño" class="text-danger"></span>
                </div>
            </div>

        </form>
        <a asp-controller="HistorialEvento" asp-action="ListaDeEvento" class="btn btn-link d-block text-center">Volver</a>
    </div>
</body>
</html>